@{
    ViewData["Title"] = "Home Page";
}

<div id="jstree">
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <input type="hidden" name="selectedItens" id="selectedItens" />
    <input type="submit" value="Submit" />
}

@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <script type="text/javascript">
		$(function(){
			$('#jstree').on('change.jstree', function(e, data){
				var i, j;
				var postedItens = [];
				for(i = 0, j = data.selected.length; i < j; i++){
					var id = data.selected[i];

					if(id.indexOf('-') != -1){
						id = id.split("-")[1]
					}

					postedItens.push({
						text: data.instance.get_node(data.selected[i].text), id: id, parent: data.node.parent[0]
					});
				}
				$('#selectedItens').val(JSON.stringify(postedItens));
			}).jstree({
				"core":{
					"themes":{
							"variant": "large"
						},
						"data":@Html.Raw(ViewBag.Json)
				},
				"checkbox":{
					"keep_selected_style": false
				},
				"plugins":["wholerow", "checkbox"],
			});
		});
    </script>
}